/*-------------------------CSS--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

*{
  
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}


#header {
  background-color:#212121;
  height:100px;
  width:102%;
  font-size:50px;
  margin-top:-100;
  margin-left:-10;
  position:fixed;
  z-index: 3;
  letter-spacing: 2px;

 }



.hli{
   display:inline-block;
   font-size:22;
   font-weight:bold;
   padding-right:10px;
   padding-left:10px;
   border-radius:5px;
   color:#ffffff;
   
  
  }

.content{
 
    margin-left:23%;
    padding-top: 1rem;
    
    
    
}

.hr{
  display: none;
}





#hul {
    margin-top:10;
    margin-left:27%;
   
    }





#spanheader {
         border:2px solid orange;
         border-radius:5;
         padding-right:5;
         padding-left:5;
         padding-top:2;
         padding-bottom:2; 
         
        }


             

ul li a:hover {
 color: #f0652f;
}


a {
    text-decoration:none;
    color:white;
   }




.button {
             border: 2px solid #999999;
             background: #333333;
             color: #FFFFFF;
             border-radius:5;
             
            }

.button:hover, .button:focus {
                                              background-color:#565656;
                                              border-color:black;
                                              border-radius:5;
                                              }
                                              
.bodyhead   {
                    
                    margin-top:100;
                    margin-right:30;
                    font-size:40;
                    margin-bottom: 10;
                    
                    
                   } 






#left {
               float:left;
               background-color:#EAEAEA;
               
               height:100%;
               width:200;
               border-bottom-right-radius:0;
               border-top-right-radius:0;
               margin-left:-30;
               font-size:20;
               display: flex;
               flex-direction: row;
      

               
        }






#lihead {
              font-size: 26;
              font-weight: bolder;
              color:black;
              list-style-type:none;
              margin-bottom: 2rem;
            }
.li {
     list-style-type:none;
     color:white;
     display: flex;
     flex-direction: row;
     padding: 0.5rem 0.5rem;
     font-size: 20

    }

.linav {
     list-style-type:none;
     color:black;
    }


.li:hover {
               color:#f0652f;
              }
               
#lihead:hover {
              color:#f0652f;
              }
          
       

#Head{ 
           font-family:fantasy;
           font-size:50;
         
              height:100px;
               width:300;
           margin-top:-130;
           position:fixed;
           z-index:9;
          }       


#Headx{ 
           font-family:fantasy;
           font-size:50;
           color:#FF851A;
           margin-top:-76;
           left:-2;
           position:fixed;
           z-index:9;
          }       

 
.para{
   font-size: 16;
   margin-left: -3rem;
   font-weight: bold;
  }


.para2, .para3, .para4{
  font-size: 18;
  margin-left: -3rem;
  font-weight: bold;
   }



.cars{

font-size:20;
text-align: center;
padding-top: 3rem;
}

.text{
  padding-bottom: 2rem;
  margin-top: -1rem;
}


.table1{
 border-collapse: separate;
  /* border-spacing: 150px 0px; */
  
  

}

.table{
  border-collapse: separate;
   border-spacing: 150px 0px;
   
 }

#adrotator{


margin-left:80%;
height: 200px;
width:400px;
position:absolute;
}
#buyparah{
   font-size:20;
   font-weight: bold;
  position:absolute;
  top:100;
  left:200;

  }

#buypara{
   font-size:20;
   
   font-weight:bold;


  }

.cars-img, .suv-img, .luxury-img, .sedan-img, .hatchback-img{

  margin-left: 3rem;
  box-shadow: .3rem .3rem .1rem #e92929, .5rem .5rem .1rem #a2e946, .7rem .7rem .1rem #297ce9, .9rem .9rem .1rem #e92999;

}



#supportform{
                       
  position:absolute;
  margin-left:225;
  color:black;
  font-weight: bold;
                       
                      
  }

.textbox{
  margin-left: -3rem;
  

}

.description{
  font-size: 20;
}

 

input 
          {
            border:1px solid grey;      
            border-radius:6;                           
          }



input:hover{
                                 border:1px solid black

                                }

textarea         {
                        border:1px solid grey;
                        border-radius:6;
                       }

textarea:hover{
                        border:1px solid black;
           
                       }

.buttons {
             border: 1px solid #999999;
             background: #333333;
             color: #FFFFFF;
             border-radius:5;
             font-size:20;
             margin-left: -3rem;
            }

.buttons:hover, .buttons:focus {
                                              background-color:#565656;
                                              border:1 solid black;
                                              border-radius:5;
                                              }

.buttonreset{
             border: 1px solid #999999;
             background: #333333;
             color: #FFFFFF;
             border-radius:5;
             font-size:20;
             margin-left: 10rem;
            }

.buttonreset:hover{
                                              background-color:#565656;
                                              border:1 solid black;
                                              border-radius:5;
                                              }

.aboutpara{
   font-size:17;
   position:absolute;
   
   margin-left:200;
   font-weight:bold;
  }

.aboutpara:first-letter
		      { 
			font-size:200%;
			color:#FF6600;
		      }
.aboutpara{
                  background-color:white;
                  color:black;
                  border-radius:10;
                  padding:10 10 10 10;
                  margin-top:100;
                  position:absolute;
                 }

#up{
    width:1000; 
    position:absolute;
    margin-top:80;
    left:260;
   }

#down{
    width:1000; 
    position:absolute;
    margin-top:510;
    left:260;
   }

.parah{
            
            font-size:16;
           }


.parahe{
            
            font-size:18;
           }


.parahtag{
            
            font-size:15;
           }

.paraht{
            
            font-size:40;
           }

.parah:hover{
                      text-decoration:underline;
           }

.paraht:hover{
                      text-decoration:underline;
           }


#contact{
               margin-left:250;
               margin-top:50;
               position:absolute;
              }

#about{
	margin-left:200;
	margin-top:100;  
	}

#about b{
  color: white;
  margin-top: 150px;
  position: absolute;
  margin-right: 15px;

}  
h2{
     text-decoration:underline;
     }
#office{
     
     margin-left:200;
     position:absolute;
     font-size: 30;
    }

#heed{
     
     margin-left:200;
     margin-top: 10;
    font-size: 50;
   font-weight:bold;
     position:absolute;
    }

#heed2{
     
     margin-left:200;
    margin-top:50;
     position:absolute;
    }

  
#email{
          margin-top:150;
          margin-left:200;
          position:absolute;
          font-size: 30;
         }

#number{
          position:absolute;
           margin-left:200;
          margin-top:260;
          font-size: 30;
        }




#contactmail{
               margin-left:250;
               margin-top:180;
               position:absolute;
              }

#contactno{
               margin-left:250;
               margin-top:280;
               position:absolute;
               
              }

#supportimg{
                     margin-left:300;
                    }

#contactimg{
                     margin-left:300;
                    }

#aboutimg{
                     margin-left:300;
                    }

body
{

background-repeat:repeat-x;
background-size: cover;
}

tbody{
  margin-top: 50rem;
}

#supporttable{
                       color:black;
                       font-weight: bold;
                       font-size: 20;
                       margin-left: -3rem;
                      
                       
                       }

.supportpara{
                       color:black;
                       font-weight: bold;
                       font-size:25;
                       margin-left: 10rem;
                       
                       }

#body{
           overflow-x:auto;
          }

#spanleft{
                color:black;
                font-weight:bold;
               }


.Imgholder
                 {
                   border:1px solid black;
                   top:135;
                   left:394;
                   height:420;
                   width:710;
                   position:absolute;
                   border-radius:0;
                   z-index:-2;
                  }


#shop {
             top:70%;
             left:25%;
             position:absolute;
           
          }


.options {
           padding-right:95;
           padding-left:95;
           
          }

.option img, .options img{
  margin-top: 3rem;
}

#price{
           position:absolute;
           color:black;
           
           z-index:-1;
           font-weight:bold;
          }


.offer{
         left:1080;
         position:absolute;
        }

#footer{
               height:30;
               width:100%;
               background-color:black;
               color:grey;       
                  
               margin-left:-8;
                position:fixed;
                z-index: 3;
               bottom:0;
               font-size:15;
}




#foot1{
               color:grey;       
                  
               font-size:15;
               margin-top:5;
           }


#buynow{
                  margin-left:200;
                  position:absolute;
                  top:210;
 
                 }

            

/*-------------------------Progress Bar(Slider)--------------------*/
#slider{   width:1350px;
               /*width:100px;*//*Disco Loader*/
	height:3px;
	background:CD0000;
	position:relative;
                 margin-top:-89;
                 margin-left:-10;

	/* Safari and Chrome */
	/* -webkit-animation:myfirst 1s 1; */
	/* -webkit-animation-direction:alternate; */
	/* -webkit-animation-timing-function:linear; */
            }


@-webkit-keyframes myfirst /* Safari and Chrome */
{
                             from {left:-1350px;}
		to {left:0px;}

              /* 0%   {background:CD0000; left:0px; top:0px;}
	25%  {background:green; left:300px; top:0px;}
               50%  {background:yellow; left:600px; top:0px;}
               75%  {background:blue; left:900px; top:0px;}
               100%  {background:black; left:1300px; top:0px;}*//*Disco Loader*/



}


/*-------------------------IMG Slideshow--------------------*/
.photo1{
opacity:0;
animation: fadeinphoto 7s 1;
-moz-animation: fadeinphoto 7s 1;
-webkit-animation:fadeinphoto 7s 1;
-o-animation: fadeinphoto 7s 1;
float:left;
position:absolute;

z-index:1;
}

.photo2{
opacity:0;
animation: fadeinphoto 7s 5s 1;
-moz-animation: fadeinphoto 7s 5s 1;
-webkit-animation: fadeinphoto 7s 5s 1;
-o-animation: fadeinphoto 7s 5s 1;
float:left;
position: absolute;

z-index:1;

}

.photo3{
opacity:0;
animation: fadeinphoto 7s 10s1;
-moz-animation: fadeinphoto7s 10s 1;
-webkit-animation: fadeinphoto 7s 10s 1;
-o-animation: fadeinphoto15s 10s 1;
float:left;
position:absolute;

z-index:1;
}

.photo4{
opacity:0;
animation: fadeinphoto7s 15s 1;
-moz-animation: fadeinphoto 7s 15s 1;
-webkit-animation: fadeinphoto 7s 15s 1 ;
-o-animation: fadeinphoto 7s 15s 1;
float:left;
position:absolute;
z-index:1;
}

.photo5{
opacity:0;
animation: fadeinphoto 7s 20s 1;
-moz-animation: fadeinphoto 7s 20s 1;
-webkit-animation: fadeinphoto 7s 20s 1;
-o-animation: fadeinphoto 7s 20s 1;
float:left;
position:absolute;


z-index:1;
}


/*-------------------------Animation Keyframes--------------------*/
@keyframes fadeinphoto{
0%{opacity:0;}
50%{opacity:1;}
100%{opacity:0;}

}

@-moz-keyframes fadeinphoto{
0%{opacity:0;}
50%{opacity:1;}
100%{opacity:0;}
}



@-webkit-keyframes fadeinphoto{
0%{opacity:0;}
50%{opacity:1;}
100%{opacity:0;}
}

@-o-keyframes fadeinphoto{
0%{opacity:0;}
50%{opacity:1;}
100%{opacity:0;}
}